@import url('/reset.css');
body {
  flex-direction: column;
  text-align: center;
  
}

.mainContainer {
  margin: 20px;
  font-size: larger;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

#square1,
#square2,
#square3 {
  height: 200px;
  width: 200px;
  background: rgb(62, 151, 253);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

#square2 {
  background: orange;
  width: 140px;
  height: 140px;
}

#square3 {
  background-color: rgb(48, 248, 8);
  width: 80px;
  height: 80px;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 20px;
}

.addSquare {
  width: 200px;
  height: 200px;

  justify-content: center;
  margin-top: 50px;
}
